<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>按专辑查询</title>
</head>
<body>
<volist name="data" id="vo">
    专辑编号：{$vo.id}<br>
    发行日期：{$vo.date}<br>
    歌手名：{$vo.man_name}<br>
    <hr>
    <form action="__URL__/collect" method="post">
        <input type="hidden" name="table" value="search_zuanji">
        <input type="text" name="man" value="">
        <input type="text" name="user" value="<?php echo session('name'); ?> ">
        <input type="text" name="song" value="">
        <input  type="text" name="zuanji" value="{$vo.zuanji}">
        <input type="submit" value="点击收藏">
    </form>
</volist>

</body>
</html>