<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>按歌曲查询</title>
</head>
<body>
<volist name="data" id="vo">
    歌曲编号：{$vo.id}<br>
    专辑名：{$vo.zuanji}<br>
    歌曲风格：{$vo.style}<br>
    语种：{$vo.language}<br>
    歌手编号：{$vo.man_id}<br>
    点播频率：{$vo.sequence}<br>
    歌手姓名：{$vo.singer}
    <hr>
    <form action="__URL__/collect" method="post">
        <input type="hidden" name="table" value="search_song">
        <input type="text" name="man" value="">
        <input type="text" name="user" value="<?php echo session('name'); ?> ">
        <input type="text" name="song" value="{$vo.song}">
        <input  type="text" name="zuanji" value="">
        <input type="submit" value="点击收藏">
    </form>
</volist>

</body>
</html>