<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查询界面</title>
</head>
<body>

<p>用户数据</p>
<volist name="user_data" id="data">
    id:{$data.id}<br>
    姓名：{$data.name}<br>
    密码:{$data.password}<br>
</volist>

<form action="__URL__/user_operate" method="post">
    请选择一个操作：
    <input type="radio" name="operate" value="create">创建数据
    <input type="radio" name="operate" value="update">更新数据
    <input type="radio" name="operate" value="delete">删除数据
    <input type="submit" name="sub" value="确认执行本操作">
</form>

<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10>
<p>歌手信息</p>

<volist name="search_man_data" id="data">
    id:{$data.id}<br>
    姓名：{$data.name}<br>
    性别：{$data.sex}<br>
    地区：{$data.area}<br>
    公司：{$data.company}<br>
    <hr>
</volist>
<form action="__URL__/man_operate" method="post">
    请选择一个操作：
    <input type="radio" name="operate" value="create">创建数据
    <input type="radio" name="operate" value="update">更新数据
    <input type="radio" name="operate" value="delete">删除数据
    <input type="submit" name="sub" value="确认执行本操作">
</form>


<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10>

<p>专辑信息</p>
<volist name="search_zuanji_data" id="data" mod="3">
    id:{$data.id}<br>
    歌手姓名:{$data.man_name}<br>
    专辑:{$data.zuanji}<br>
    <hr>
</volist>

<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="80%" color=#987cb9 SIZE=10>
<p>歌曲信息</p>
<volist name="search_song_data" id="data" >
    id:{$data.id}<br>
    歌曲名称:{$data.song}<br>
    专辑:{$data.zuanji}<br>
    风格：{$data.style}<br>
    语言：{$data.language}<br>
    歌手ID：{$data.man_id}<br>
    点击频率：{$data.sequence}<br>
    <hr>
</volist>
</body>
</html>