<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专辑信息</title>
</head>
<body>

<p>专辑信息</p>
<volist name="data" id="vo">
    id:{$vo.id}<br>
    歌手姓名:{$vo.man_name}<br>
    专辑:{$vo.zuanji}<br>
    <hr>
</volist>

<form action="__URL__/operate" method="post">
    请选择一个操作：
    <input type="radio" name="zuanji_operate" value="search_zuanjiAdd">创建数据
    <input type="radio" name="zuanji_operate" value="search_zuanjiUpdate">更新数据
    <input type="radio" name="zuanji_operate" value="search_zuanjiDelete">删除数据
    <input type="submit" name="sub" value="确认执行本操作">
</form>

</body>
</html>