<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌手信息</title>
</head>
<body>


<p>歌手信息</p>

<volist name="data" id="vo">
    id:{$vo.id}<br>
    姓名：{$vo.name}<br>
    性别：{$vo.sex}<br>
    地区：{$vo.area}<br>
    公司：{$vo.company}<br>
    <hr>
</volist>

<form action="__MODULE__/CURD/operate" method="post">
    请选择一个操作：
    <input type="radio" name="choose" value="search_manAdd">创建数据
    <input type="radio" name="choose" value="search_manUpdate">更新数据
    <input type="radio" name="choose" value="search_manDelete">删除数据
    <br>
    <input type="submit" name="sub" value="确认执行本操作">
</form>

</body>
</html>