<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌手信息</title>
</head>
<body>


<p>歌手信息</p>

<volist name="data" id="vo">
    id:{$vo.id}<br>
    姓名：{$vo.name}<br>
    性别：{$vo.sex}<br>
    地区：{$vo.area}<br>
    公司：{$vo.company}<br>
    <hr>
</volist>

<form action="__URL__/operate" method="post">
    请选择一个操作：
    <input type="radio" name="man_operate" value="create">创建数据
    <input type="radio" name="man_operate" value="update">更新数据
    <input type="radio" name="man_operate" value="delete">删除数据
    <input type="submit" name="sub" value="确认执行本操作">
</form>

</body>
</html>